.blogpic {
  border-style: solid;
  border-color: blanchedalmond;
  border-radius: 7%;
  border-width: 1%;
  float: left;
  margin-left: 0vw;
  margin-top: 63px;
}

#home {
  float: left;
  margin-left: 100px;
}

#Kira {
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
  src: url('/Montserrat-Regular.ttf');
  font-size: 6vw;
  text-align: left;
  padding-top: 100px;
  padding-left: 8vw;
  margin-left: 300px;
}

@media only screen and (max-width: 480px) {
  .blogpic {
    float: left;
    width: ;
    margin-left: -50px;
    margin-top: 9vw;
  }

  #Kira {
    float: left;
    font-size: 3.5rem;
    padding-top: 50px;
    padding-left: 25vw;
    margin-left: -50px;
  }
}

#aboutme {
  color: blanchedalmond;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  width: 70%;
  padding-left: 100px;
  margin-top: 50px;
  text-align: justify;
}

@media only screen and (max-width: 480px) {
  #aboutme {
    float: left;
    font-size: 5vw;
    font-weight: 300;
    width: 70%;
    padding-left: 50px;
    margin-top: 50px;
    text-align: justify;
  }
}

/*div {
  text-align: center;
}*/

body {
  background-color: #2c2a2a;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 500px;
}

/*Title code*/

.blog-title {
  color: blanchedalmond;
  font-size: 90px;
  text-align: center;
  font-weight: 500;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 480px) {
  .blog-title {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    clear: left;
  }
}

.techdiv {
  float: left;
  width: 30vw;
  margin-left: 10vw;
  border-width: 5px;
  border-style: solid;
  border-color: blanchedalmond;
  padding-bottom: 100px;
  padding-left: 50px;
}

.corediv {
  float: right;
  width: 30vw;
  margin-right: 10vw;
  border-width: 5px;
  border-style: solid;
  border-color: blanchedalmond;
  padding-bottom: 50px;
  padding-left: 50px;
}

.tech-title {
  color: blanchedalmond;
  font-size: 60px;
  font-weight: 300;
  width: 600px;
}

.core-title {
  color: blanchedalmond;
  font-size: 60px;
  font-weight: 300;
  width: 300px;
}

/*links to blog posts code*/

.tech-posts {
  font-size: 20px;
  text-decoration: none;
  line-height: 250%;
}

.core-posts {
  font-size: 20px;
  text-decoration: none;
  line-height: 250%;
}

@media only screen and (max-width: 810px) {
  .techdiv {
    justify-content: center;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8vw;
    border-width: 5px;
    border-style: solid;
    border-color: blanchedalmond;
  }
  .corediv {
    justify-content: center;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8vw;
    border-width: 5px;
    border-style: solid;
    border-color: blanchedalmond;
  }
}

/*blog post codes i.e. any little headings or titles for my blog and it's wee formatting*/
.blog-post-heading {
  color: blanchedalmond;
  text-align: center;
  font-size: 4rem;
}

.blog-post {
  color: blanchedalmond;
  font-size: 1.5rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

.blogpostimage {
  /*below is for centering image on page*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  /*below is for border of image*/
  border-style: solid;
  border-color: blanchedalmond;
  border-radius: 7%;
  border-width: 1%;
  /*below is creating margin around images so they don't overlap*/
  margin-bottom: 5vh;
}

/*individual image adjustments*/
#purplepaddingcore {
  width: 40%;
}

#yellowmargincore {
  width: 40%;
}

/*link code*/

.a:link {
  color: blanchedalmond;
}

a:visited {
  color: rgb(230, 220, 203);
}

a:hover {
  color: rgb(226, 205, 172);
  text-decoration: underline;
}
