.Kira {
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
  src: url('/Montserrat-Regular.ttf');
  font-size: 100px;
}

h1 {
  text-align: center;
}

.aboutme {
  color: blanchedalmond;
  font-size: 35px;
}

div {
  text-align: center;
}

body {
  background-color: #2c2a2a;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
}

/*Title code*/

.blog-title {
  color: blanchedalmond;
  font-size: 80px;
  text-align: center;
}

.tech-title {
  color: blanchedalmond;
  font-size: 60px;
}

.core-title {
  color: blanchedalmond;
  font-size: 60px;
}

.core-posts {
  font-size: 20px;
  text-decoration: none;
}

.tech-posts {
  font-size: 20px;
  text-decoration: none;
}

/*link code*/

.a:link {
  color: blanchedalmond;
}

a:visited {
  color: rgb(226, 205, 172);
}

a:hover {
  color: rgb(226, 205, 172);
}
