.blogpic {
  border-color: blanchedalmond;
  border-radius: 7%;
  border-width: 10px;
  float: left;
}

.Kira {
  color: blanchedalmond;
  font-family: 'Montserrat', sans-serif;
  src: url('/Montserrat-Regular.ttf');
  font-size: 100px;
  text-align: left;
  padding-top: 50px;
  padding-left: 100px;
}

.aboutme {
  color: blanchedalmond;
  font-size: 35px;
  font-weight: 300;
  width: 70%;
  padding-left: 100px;
  text-align: justify;
}

/*div {
  text-align: center;
}*/

body {
  background-color: #2c2a2a;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 500px;
}

/*Title code*/

.blog-title {
  color: blanchedalmond;
  font-size: 85px;
  text-align: center;
  font-weight: 400;
  padding-top: 120px;
  padding-bottom: 80px;
}

.techdiv {
  float: left;
  padding-left: 375px;
}

.corediv {
  float: right;
  padding-right: 375px;
}

.tech-title {
  color: blanchedalmond;
  font-size: 60px;
  font-weight: 300;
  width: 600px;
}

.core-title {
  color: blanchedalmond;
  font-size: 60px;
  font-weight: 300;
  width: 300px;
}

/*links to blog posts code*/

.tech-posts {
  font-size: 20px;
  text-decoration: none;
  line-height: 250%;
}

.core-posts {
  font-size: 20px;
  text-decoration: none;
  line-height: 250%;
}

/*link code*/

.a:link {
  color: blanchedalmond;
}

a:visited {
  color: rgb(230, 220, 203);
}

a:hover {
  color: rgb(226, 205, 172);
  text-decoration: underline;
}
